@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

h1 {
    color: white;
}

.btn {
    padding: 15px 0 15px 0px;
    margin: 0 5px;
    width: 52px;
    border: 2px solid black;
    border-radius: 50px;
    /* border-style: inset; */
    /* border-right-color: rgb(170, 170, 170);
    border-left-color: rgb(157, 157, 157);
    border-bottom-color: rgb(114, 114, 114); */
    cursor: pointer;
}

.row {
    margin: 5px 0;
    /* width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-around; */
}

.row input {
    margin: 0;
    padding: 10px 38px;
    font-size: 20px;
    padding: 10px 2px;
    border: 2px solid black;
    border-radius: 8px;
    /* border-style: inset;
    border-right-color: rgb(170, 170, 170);
    border-left-color: rgb(157, 157, 157);
    border-bottom-color: rgb(114, 114, 114); */
    background-color: rgb(47, 47, 47);
    color: white;
}

.spl {
    background-color: rgb(236, 168, 12);
}

.spl-cl {
    background-color: grey;
}